#contenedor {
   background-color: chocolate;
    border: 1px solid black;
    width: 1000px;
    height: 700px;
}

#contenido {
    background-color: blue;
    float: left;
    border-top: 180px;
    width: 980px;
    height: 480px;
    padding: 10px;
}

#barra {
    background-color: crimson;
    width: 1000px;
    height: 100px;
    float: left;
}

.logo {
    text-align: center;
    margin-left: 50px;
    margin-top: 35px;
    float: left;
}


#info {
    width: 1000px;
    height: 50px;
    text-align: center;
    float: left;
}

#info p {
    margin: 0px;
    padding: 15px;
}

#formulario p {
    margin-bottom: 0px;
}

#login {
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 330px;
    margin-top: 150px;
    background-color: aqua;
    padding: 15px;
}

.boton {
    margin-left: 125px;
}
